:root {
    --blanc: #e8e9f3;
    --noir: #272635;
}

body {
    background-color: var(--blanc);
    color: var(--noir);
    font-family: "Vend Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--noir);
}

h1 {
    font-size: 20vh;
    line-height: 1.2;
    margin: 1.5%;
}

h2 {
    font-size: 3vw;
    margin: 2%;
}

li {
    list-style-type: none;
    text-align: right;
    font-size: 18vh;

    :not(:hover) {
        transition: 0.3s;
    }

    :hover {
        font-size: 20vh;
        transition: 0.3s;
    }
}

nav {
    width: 100vw;
    height: 3vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2vh;
    padding: 10px 30px;
    background-color: var(--noir);
    z-index: 1;

    a {
        color: var(--blanc);
    }

    div {
        width: 40px;
        height: 40px;
        transform: translateX(-200%);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        :not(:hover) {
            transition: 0.2s;
        }

        :hover {
            width: 30px;
            transition: 0.2s;
        }

        img {
            width: 60%;
        }
    }
}

.logoprincipal {
    display: none;
}

header {
    .logoprincipal {
        display: block;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            max-width: 1200px;
            height: auto;
            max-height: 1200px;
            opacity: 0;
        }
    }
}

.monnom {
    margin-top: 10vh;
    transform: translateX(-100%);
}

main {
    margin: 3%;
}

.mainaccueil {
    div {
        margin: 0 auto;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        pointer-events: none;

        iframe {
            width: 300%;
            height: 100%;
            margin-left: -100%;
        }
    }

    ul {
        margin: 30vh 0;
    }

}

.mainapropos {
    display: flex;
    margin-bottom: 30vh;

    img {
        float: left;
    }

    p {
        font-size: 1.5em;
        padding-right: 25%;
    }
}

.mainprojets {
    margin: 0;
    margin-top: 10vh;
    margin-bottom: 30vh;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    div {
        width: 17vw;
        height: 100%;
        border-color: var(--noir);
        border-width: 5px;
        border-style: solid;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1);
        cursor: pointer;
    }

    div:not(:hover) {
        transition: 0.3s;
    }

    div:hover {
        width: 23vw;
        transition: 0.3s;
        filter: grayscale(0);
    }

    div:nth-child(1) {
        background-image: url("./media/images/projets/speculum_cover.png");
    }

    div:nth-child(2) {
        background-image: url("./media/images/projets/lapilule_cover.png");
    }

    div:nth-child(3) {
        background-image: url("./media/images/projets/plumevorace_cover.png");
    }

    div:nth-child(4) {
        background-image: url("./media/images/projets/gluttony_cover.png");
    }

}

#screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #272635;
    opacity: 0.5;
    z-index: 2;
}

section {
    margin-bottom: 30vh;

    h1 {
        font-size: 30vh;
        margin: 2%;
    }

    h2 {
        margin-top: 20vh;
    }

    div {
        margin: 5%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;

    }

    img {
        width: 100%;
        filter: grayscale(100%);
    }

    img:not(:hover) {
        transition: 0.3s;
    }

    img:hover {
        filter: grayscale(0%);
    }

    a {
        width: 10%;
        height: auto;
    }
}

.cplusplus {
    width: 85%;
}

.modalcontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    background-color: var(--blanc);
    width: 40%;
    height: 70%;
    z-index: 3;
    color: var(--noir);
    padding: 3%;
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    h2 {
        font-size: 5vw;
        margin: 0;
    }

    img {
        width: 100%;
        align-self: center;
        margin-top: 1%;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 60vh;
    overflow-y: auto;
}

h3 {
    margin: 0;
    margin-top: 5%;
}

#closebutton {
    text-align: right;
    cursor: pointer;
    font-size: 50px;

}

#closebutton:not(:hover) {
    font-size: 30px;
    transition: 0.2s;
}

#closebutton:hover {
    font-size: 35px;
    transition: 0.2s;
}

footer {
    color: var(--blanc);
    background-color: var(--noir);
    padding: 3%;
    padding-bottom: 1%;
    font-size: 2vw;

    h2 {
        font-size: 5vw;
        margin: 0;
        margin-bottom: 5vh;
    }

    a {
        color: var(--blanc);
    }

    a:not(:hover) {
        transition: 0.3s;
    }

    a:hover {
        font-size: larger;
        transition: 0.3s;
    }

    .trademark {
        font-size: 1vw;
        text-align: center;
        margin-top: 7%;
    }
}

.contactcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .logoprincipal {
        height: 70vh;

        img {
            width: 400px;
            height: 400px;
        }
    }

    h1 {
        font-size: 15vw;
    }

    li {
        list-style-type: none;
        text-align: right;
        font-size: 15vw;

        :not(:hover) {
            transition: 0.3s;
        }

        :hover {
            font-size: 17vw;
            transition: 0.3s;
        }
    }
}

@media screen and ((min-width: 800px) and (max-width: 1200px)) {
    .logoprincipal {

        img {
            width: 700px;
            height: 700px;
        }
    }

    h1 {
        font-size: 15vw;
    }

    li {
        list-style-type: none;
        text-align: right;
        font-size: 15vw;

        :not(:hover) {
            transition: 0.3s;
        }

        :hover {
            font-size: 17vw;
            transition: 0.3s;
        }
    }
}